<!DOCTYPE html>
<html lang="en" ng-app="MyNGApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="Assets/scripts/cfdepinj.js"></script>
    <link rel="stylesheet" href="Assets/css/main.css">
    <title>Dependency injections</title>
</head>
<body ng-controller="MyFirstController">
    <h2>Comentarios</h2>
    <p><input type="text" name="" id="" ng-model="nuevoComentario.comentario"></p>
    <p><input type="text" name="" id="" ng-model="nuevoComentario.autor"></p>
    <button ng-click="agregarComentario()">Agregar comentario</button>
    <table>
        <thead>
            <tr>
                <td>Comentario</td>
                <td>Autor</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="comentario in comentarios">
                <td>{{ comentario.comentario }}</td>
                <td><strong>{{ comentario.autor }}</strong></td>
            </tr>
        </tbody>
    </table>
</body>
</html>