<!DOCTYPE html>
<html lang="en" ng-app="MyNGApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="Assets/scripts/httpsample.js"></script>
    <link rel="stylesheet" href="Assets/css/main.css">
    <title>HTTP sample - consume API</title>
</head>
<body ng-controller="MyNGController">
    <section>
        <h2>Create a new post</h2>
        <p>
            <label>Title</label><br>
            <input type="text" ng-model="newPost.title">
        </p>
        <p>
            <label>Body</label><br>
            <textarea rows="4" ng-model="newPost.body"></textarea>
        </p>
        <p>
            <label>Author</label><br>
            <select ng-model="userSelected">
                <option ng-repeat="user in users" value="{{ user.id }}">{{ user.name }}</option>
            </select>
        </p>
        <button ng-click="addPost()">Add Post</button>
    </section>

    <section>
        <h2>Posts</h2>
        <table cellspacing="0">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Body</td>
                    <td>Author</td>
                    <td>EMail</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in posts">
                    <td><strong>{{ post.title }}</strong></td>
                    <td>{{ post.body }}</td>
                    <td>{{ post.author.name }}</td>
                    <td>{{ post.author.email }}</td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>