body{
    display: table;
    width: 100%;
    background: #8896aa;
  }
  *{ 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  }
  table{
     background: #fff;
  }
  table,thead,tbody,tfoot,tr, td,th{
    text-align: center;
    border:1px solid #dedede;
    padding: 1rem;
    width: 50%;
  }
  .table    { display: table; width: 50%; }
  .tr       { display: table-row;  }
  .thead    { display: table-header-group }
  .tbody    { display: table-row-group }
  .tfoot    { display: table-footer-group }
  .col      { display: table-column }
  .colgroup { display: table-column-group }
  .td, .th   { display: table-cell; width: 50%; }
  .caption  { display: table-caption }
  
  .table,
  .thead,
  .tbody,
  .tfoot,
  .tr,
  .td,
  .th{
    text-align: center;
    margin: auto;
    padding: 1rem;
  }
  .table{
    background: #fff;
    margin: auto;
    border:none;
    padding: 0;
    margin-bottom: 5rem;
  }
  
  .th{
    font-weight: 700;
    border:1px solid #dedede;
    &:nth-child(odd){
      border-right:none;
    }
  }
  .td{
    font-weight: 300;
    border:1px solid #dedede;
    border-top:none;
    &:nth-child(odd){
      border-right:none;
    }
  }

  /* ---------------------- */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }

  